---
import '../styles/global.css';

const { title, description } = Astro.props;
---

<html lang="en" class="w-full h-full bg-stone-900 text-stone-50 font-sans">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="theme-color" content="#1c1917" />

        <meta name="og:type" content="website" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:image" content="/og-image.png" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="/og-image.png" />

        <link rel="icon" href="/bashed.svg" />
    </head>
    <body
        class="w-full min-h-full flex justify-center overflow-x-clip bg-surface text-on-surface-variant font-sans p-4 sm:p-8"
    >
        <div class="w-full flex flex-col gap-8 max-w-4xl">
            <slot />
        </div>
    </body>
</html>
