---
import '../styles/global.css';
import { InjectedCss } from './InjectedCss';

const { title, description } = Astro.props;
---

<html lang="en" class="w-full h-full font-sans">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="theme-color" content="#1c1917" />

        <meta name="og:type" content="website" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:image" content="/og-image.png" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content="/og-image.png" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

        <link rel="icon" href="/LogoSingle.svg" />

        <InjectedCss client:load />
    </head>
    <body
        class="w-full min-h-full flex justify-center overflow-x-clip bg-surface text-on-surface font-sans"
    >
        <div class="w-full flex flex-col">
            <slot />
        </div>
    </body>
</html>
